name: Generate Snake

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate snake animation (custom colors)
        uses: Platane/snk@v3
        with:
          github_user_name: Akash-Ahmed-CSE
          outputs: |
            dist/github-contribution-grid-snake.svg
          args: |
            --color-dots=#282828,#3c3836,#504945,#665c54,#b8bb26
            --color-snake=#8ec07c
            --color-head=#fabd2f
            --background-color=#1d2021

      - name: Deploy to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
